body {
    background: url("../img/main-bg.jpg") no-repeat center;
    background-size: cover;
    font-family: 'Play', sans-serif;
    color: white;
    background-attachment: fixed;
}

.content {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
}

.wheat {
    color: wheat;
}

.about-post {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 20;
    font-size: 18px;

    a {
        color: wheat;
    }
}

.content__item {
    width: 48%;
    text-align: center;
    position: relative;
    z-index: 20;
}

.technology-list {
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 32px;

    li {
        &:not(:last-child) {
            margin-right: 7px;
        }
    }
}

.mentor__name {
    color: wheat;
    font-size: 32px;
    margin-bottom: 20px;
}

.mentor__article {
    font-size: 20px;

    p {
        margin-bottom: 10px;
    }
}

.link-block {
    padding-top: 16px;
}

.btn {
    display: inline-block;
    width: 150px;
    padding: 15px 0;
    border: 1px solid white;
    transition: 0.5s;
    background: none;
    color: white;
    font-size: 18px;
}

.tab-list {
    display: flex;
    margin-bottom: 45px;
    border-bottom: 1px solid white;

    .btn {
        width: 120px;
        padding: 10px 0;
        border: none;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    .btn.is-active {
        border-radius: 0 10px 0 0;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-right: 1px solid white;
        opacity: 1;
    }
}

.btn_portfolio {
    position: relative;
    width: 180px;
    padding-left: 35px;

    &:after {
        content: '';
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 25px;
        background: url("../img/folio.png") no-repeat center;
        background-size: contain;
    }
}

.txt-shadow {
    text-shadow: 1px 1px 2px black, 0 0 4px rgba(0,0,0,0.2);
}

.logo {
    font-size: 50px;
    font-weight: 600;
}

.title {
    color: wheat;
    font-weight: 400;
    font-size: 42px;
    padding: 10px 0 14px;
}

.mentor {
    position: relative;
}

.mentor__photo {
    width: 300px;
    height: 300px;
    margin: 25px auto;
    border-radius: 10em;
    overflow: hidden;
    background: url("../img/mentor.jpg") no-repeat center;
    background-size: cover;
}

.about-mentor {
    text-align: left;
    padding-top: 20px;
}

.social-list {
    position: absolute;
    left: 50px;
    top: 60px;

    li {
        margin-bottom: 15px;
    }

    a {
        display: inline-block;
        width: 40px;
        opacity: 0.7;
    }
}

.cloud {
    position: absolute;
    bottom: -150px;
    width: 1000px;
    height: 450px;
    background: url("../img/cloud-1.png") no-repeat center;
    background-size: contain;
    animation: cloud 120s infinite;
    z-index: 10;
    opacity: 0.5;
}

.cloud-2 {
    position: absolute;
    top: 0;
    width: 1000px;
    height: 450px;
    background: url("../img/cloud-2.png") no-repeat center;
    background-size: contain;
    animation: cloud 90s infinite;
    z-index: 10;
    opacity: 0.5;
}

.video {
    width: 100%;
}
@keyframes cloud {
    from {
        left: 100%;
        animation-timing-function: linear;
    }

    to {
        left: -100%;
    }
}

.tab-title {
    font-size: 28px;
    margin-bottom: 25px;
    color: wheat;
}

.tab-title_inner {
    font-size: 22px;
}

.content__inner {
    max-width: 1100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tab-content {
    text-align: left;
}

.tab-block {
    .tab-content {
        &:not(:first-child) {
            display: none;
        }
    }
}

.tab-conten__article {
    margin-bottom: 25px;
}

.tutotial-plan_inner {
    font-size: 24px;
}

.telegram {
    &:after {
        background: url("../img/telegram.png") no-repeat center;
        background-size: contain;
    }
}

.vkontakte {
    &:after {
        background: url("../img/vk.png") no-repeat center;
        background-size: contain;
    }
}

.email {
    &:after {
        background: url("../img/vk.png") no-repeat center;
        background-size: contain;
    }
}

.tutotial-plan {
    margin-bottom: 25px;

    li {
        margin-bottom: 8px;
    }
}

.tab-list__btn {
    font-size: 19px;
}

.tutotial-plan_contact {
    font-size: 18px;

    li {
        margin-bottom: 20px;
    }

    a {
        display: inline-block;
        position: relative;
        padding-left: 40px;
        color: wheat;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 28px;
            height: 28px;
            opacity: 0.7;
        }
    }
}

.blog-page {
    max-width: 1024px;
    width: 100%;
    margin: 0px auto 70px;
    color: black;
    position: relative;
    z-index: 20;
    padding-top: 100px;
    @media(max-width: 767px){
        padding-top: 220px;
    }

    .photo {
        position: absolute;
        right: 50px;
        top: 15px;
        border-radius: 10em;
        width: 220px;
        height: 220px;
        background: url("../img/motocros.jpg") no-repeat top left -30px;
        background-size: cover;
        @media(max-width: 767px){
            width: 180px;
            height: 180px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.breadcrumbs {
    color: white;
    margin-bottom: 25px;
    position: relative;

    a {
        display: inline-block;
        padding-left: 44px;
        padding-right: 15px;
        margin-right: 8px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 15px;
            top: -3px;
            width: 20px;
            height: 20px;
            background: url("../img/main-icon.png") no-repeat center;
            background-size: contain;
        }

        &:after {
            content: '/';
            position: absolute;
            right: 0;
            top: 0;
            font-size: 16px;
        }
    }
}

.blog-title {
    color: wheat;
    margin-bottom: 10px;
    font-size: 42px;
    font-weight: 400;
    padding-left: 15px;
    @media(max-width: 767px){
        font-size: 30px;
    }
}

.blog-article {
    padding-left: 15px;
    color: wheat;
    font-size: 26px;
    margin-bottom: 35px;
    @media(max-width: 767px){
        font-size: 18px;
    }
}

.content-title{
    color: #670303;
    font-size: 24px;
    padding-top: 20px;
    @media(max-width: 767px){
        font-size: 22px;
    }
}

.blog-page__content {
    padding: 15px 15px 25px;
    background: white;

    a{
        color: #670303;
        text-decoration: underline;
        font-size: 18px;
        &:hover{
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 15px;
    }
}

.blog-img{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px 15px;
    background: #E4E4E4;
    margin-bottom: 15px;
    @media(max-width: 767px){
        padding: 10px 10px 15px;
    }
}

.blog-img__article{
    text-align: center;
    color: #670303;
    padding-top: 8px;
    font-style: italic;
    @media(max-width: 767px){
        font-size: 14px;
    }
}

.blog-contact{
    border-top:1px solid #E4E4E4;
    margin-top: 10px;
}

.main-link{
    text-align: right;
    @media(max-width: 767px){
        text-align: center;
        padding: 10px 0px;
    }
    a{
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding-left: 27px;
        &:after{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/arrow-back.png') no-repeat center;
            background-size: contain;
        }
    }
}

.blog-contact{
    .content-title{
        font-size: 20px;
        padding-bottom: 10px;
    }
}

.contact-list{
    a{
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding-left: 30px;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            width: 25px;
            height: 25px;
            top: 50%;
            transform: translateY(-50%);
            background-size: contain;
        }
    }
    li{
        margin-bottom: 20px;
    }
}

.contact-list__tel{
    &:after{
        background: url('../img/tel-black.png') no-repeat center;
    }
}

.contact-list__vk{
    &:after{
        background: url('../img/vk-black.png') no-repeat center;
    }
}

.contact-list__email{
    &:after{
        background: url('../img/email-black.png') no-repeat center;
    }
}
