.cloud
.cloud-2
.blog-page
    a(href="https://vk.com/aslanberezgov" target="_blank").photo
    .breadcrumbs.txt-shadow
        a(href="index.html") Главная
        span Как я учил JavaScript

    h1.blog-title.txt-shadow Как я учил JavaScript
    p.blog-article.txt-shadow Разработка визуальной новеллы
    .blog-page__content
        p.content-title Как все начиналось

        p В этой статье я хотел поделиться о том как я учил JavaScript, с какими трудностями столкнулся и каких результатов смог добиться.

        p Моей главной проблемой на пути к изучению JavaScript был мой профиль, я гуманитарий, с точными науками никогда не дружил, в школе постоянно были с этим проблемы. Преобладающая причина всего этого, моя врожденная лень. В точные науки надо вникать, а я не любил вникать и учиться. Я играл в видеоигры, много, других интересов не было. На тот момент я и не предполагал, что в обозримом будущем я все таки полюблю учиться и это выйдет мне боком :)

        p Когда волею случая меня занесло в сферу веб разработки я ощутил всю тягость последствий моей не любви к точным наукам, особенно когда столкнулся с JavaScript во всем его проявлении, когда пришлось выводить логику и писать скрипты. На элементарные вещи у меня уходило уйма времени. 

        p Когда волею случая меня занесло в сферу веб разработки я ощутил всю тягость последствий моей не любви к точным наукам, особенно когда столкнулся с JavaScript во всем его проявлении, когда пришлось выводить логику и писать скрипты. На элементарные вещи у меня уходило уйма времени.  

        p Мне нравился JavaScript, но я его не понимал, я им не владел. Тогда я впервые для себя открыл, что мне интересно учиться и изучать технологии :) Начав с самых основ, я углубился в теорию языка, читал статьи, находил курсы, смотрел ролики на ютубе. И в основном это был jQuery, так как активно использовал его в верстке, чистый JavaScript на тот момент мне казался предельно сложным и пока туда не лез.

        p Через пару месяцев сложилось более менее стабильное понимание основ программирования, но в голове был хаос, как со всем этим работать, как применять на практике. Вроде бы знаешь для чего нужен цикл, что из себя представляет массив, объект, какие типы данных бывают, но как это все задействовать в рамках приложения, какая должна быть логика.

        p Чтобы получить ответы на эти вопросы нужно было что то сделать, написать приложение, нужна практика. Но на просторах интернета с этим возникла проблема, в сети тонна материалов по теории и очень мало того, что можно было назвать практикой. Всякие банальные вещи типа реализации списка дел ToDo или вывода товаров аяксом с последующей фильтрацией, такого материала было кругом достаточно, где каждый автор повторял другого, но другими словами. Это было слишком не существенно и не интересно, хотелось сделать, что то более грандиозное!

        p.content-title Разработка Warmaster v1.0

        p Так как я был в свое время фанатом игр, я подумал и решил, почему бы самому не сделать игру. Это будет большой сложный проект, где будут задейстованы возможности JavaScript по полной программе, будет серьезный практический опыт и этим было бы интересно заниматься.

        p Идея созрела быстро. Это однозначно должна быть игра в моем любимом жанре, ролевое рпг. Но с моим начальным набором знаний я бы не осилил анимированный функционал на канвасе и остановил свой выбор на визуальной новеле с ролевой составляющей. В основе игры будут статичные сцены с диалогами, битвами, квестовыми заданиями и связать все это каким либо мало мальским сюжетом. В игре должна быть прокачка персонажа, возможность носить оружие и броню. Идея готова, пора приступать к реализации!

        p Так как все будет завязано на графических сценах, нужно было где то достать эту саму графику, декорации, персонажей, врагов, предметы вооружения и экипировки. Не долго думая все необходимое я взял с гугла, из моих любимых игр, ведьмак, готика, скайрим :) У меня был опыт работы с CorelDraw, именно этот графический редактор, я использовал для подготовки графики, вырезал изображения, совмещал сцены с персонажами, писал тексты для диалогов и сюжета. Когда вся графика была готова, я вывел все это дело в html разметку, выглядело следующим образом, а что вполне не плохо для первого раза :)

        .blog-img
            img(src="img/w1.0.global.jpg")
            .blog-img__article Рабочее название игры как то сразу пришло на ум - Warmaster :)    
        p Начало положено, теперь всю эту картинку предстояло оживить всей мощью JavaScript. Но сказать по правде я понятия не имел, как это сделать и с какой стороны подойти :) Тут я впервые начал учиться формировать логическую цепочку, я взял тетрадь и накидал план сюжета и заложил функционал для каждой игровой сцены. Теперь можно было начинать творить. Писал в основном на jQuery с JS на тот момент все еще были проблемы. В начале дело пошло быстро, вывод локаций, простая система диалогов, но когда дошел до сложных вещей работа встала. Функционал битвы оказался крайне не простым делом, нужно было учитывать значение многих факторов, такие как здоровье, урон, экипированное в текущий момент оружие и броню главного героя, теми же характеристиками обладал и каждый враг. Все это нужно было рассчитать и вывести исход боя, победа или поражение. А еще с монстров падал лут, который нужно было внедрить в общий функционал битвы. 

        p Другим сложным моментом был функционал лавки торговца снаряжением. Нужно было проверять каждый отдельно взятый предмет, увеличивать или уменьшать счетчик если таковой предмет уже имеется у игрока. При продаже проверять остаток у игрока, если счетчик ноль, удалять предмет из массива инвентаря. Далее этот предмет требовалось экипировать, менять внешний вид героя с учетом надетой экипировки и обновлять статы, урона, брони. Звучит все просто, но на тот момент это было для меня очень не простым делом

        .blog-img
            img(src="img/w1.0.battle.jpg")
            .blog-img__article Тот самый зверь, которого я так боялся в Gothic 2 :)  

        p Следующим по сложности функционалом было продвижение сюжета по квестовой цепочке, какие то локации открывать, в зависимости от выполенных условий показывать новые ветки в диалогах, новые варианты дейтсвий. Реализовал сие чудо через большое количество вложенных условий, на что более изящное моих знаний не хватало. Иногда этих условий было на столько много, что просто в них путался. Кое как со всем этим разобрался, это был один большой страшный костыль, но главное, все работало :)

        p Я озвучил только основные моменты, было крайне проблемно связать большой объем разнообразного функционала единой логикой. В итоге я эту игру делал несколько месяцев. Не получалось, забрасывал, возвращался, опять забрасывал :) Но все это время перерывов я продолжал изучать JS и каждый раз возвращался к проекту с новыми знаниями и доделывал то, что не мог реализовать в прошлый раз. И в конечном итоге все было готово, я реализовал все, что планировал. Но код был ужасен, это была дикая смесь нативного JS и jquery, без всякой модульной структуры, одна бесконечная лапша в одном js файле, и это порядка 1500 строк кода. Но при этом вся игра работала как надо, цель достигнута :) 

        p Посмотреть результат и поиграть можете по следующей ссылке 
            a(href="https://berzeg07.github.io/warrior/" target="_blank") Warmaster v1.0

        .blog-img
            img(src="img/w1.0.tavern.jpg")
            .blog-img__article Хозяйку таверны не помню откуда брал, но получилось эффектно :)  

        p.content-title Работа над Warmaster v2.0

        p Но это был не конец, а только начало. Разобравшись с jQuery, я продолжил изучать чистый JS за учебником Кантора, могу с уверенностью сказать, это превосходный учебник, ничего лучше нет. Если решили серьезно взяться за js, смело идите на  learn.js 

        p Наконец я начал понимать JavaScript, разгорелся азарт, хотелось проверить свои возможности. Я решил сделать полный ремастер своей игры, на этот раз это должен был быть только чистый JavaScript, модульная структура, сборка вебпаком и конечно же новое графическое оформление. То есть это будет не оптимизация старого кода, а абсолютно новая логика.

        p Графика на этот раз стала проблемой, хотелось не копировать, а сделать полностью свои картинки, в частности персонажей. Я пытался изучать технику рисования персонажей в векторе, это оказалось крайне сложно и скоро оставил попытки. Потом я начал обращаться к художникам и тут был затык, отрисовка одного персонажа вставала в кругленькую сумму, а у меня еще десяток декораций. Вкладывать такие средства в некомерческий проект так себе идея. В общем выхода не было, нужно было сделать все самому.
        p опять вернулся к технике рисования, долгое время я выбирал стилистику, потом начал набивать руку, в итоге получилось вывести первые законченные арты. Качество исполнения конечно оставляло желать лучшего. Я продолжил пробовать и рисовать, это было долго и временами утомительно, но в целом прогресс шел. Наконец нарисовал главного героя и это получилось вполне не плохо на мой взгляд.

        p Поймав кураж я стал накидывать остальных персонажей, в итоге получился вот такой веселый отряд :)

        .blog-img
            img(src="img/w2.0.pers.jpg")
            .blog-img__article Каждый персонаж получился вполне себе индивидуальным и запоминающимся 

        p На персонажей ушло месяца полтора, с фоновыми декорациями у меня уже не было ни сил, ни желания сильно заморачиваться, нарисовал максимально  просто. На декорации еще недели три, в итоге на подготовку одной графики два месяца. Долго, но результат достигнут. Пришло время писать код. 

        p На этот раз я подошел к делу с пониманием того, что делаю. JavaScript был освоен в достаточной мере, чтобы там не потеряться :). Настроил вебпак, разбил структуру проекта на отдельные модули и начал планомерно оживлять функционал. На этот раз серьезных затыков не было, игру я не забрасывал, проблемы, что появлялись решал оперативно и в сжатые сроки. 
        p Сначала я написал, то то вроде игрового движка, библиотеку функций, которые потом вызываются в нужном месте. Моя цель была сделать максимально универсальный конструктор, чтобы имелась возможность расширять игровой мир и сюжетную составляющую так как душе угодно. Это получилось реализовать в достаточной мере. В итоге у меня на руках был вполне себе функциональный мини движок для визуальной новеллы. Когда движок был готов, дел пошло еще быстрее. 

        p Писал игру два месяца, на этот раз вышло чуть более 2000 строк и это на чистом JavaScript. Итого 4 месяца на все про все, вместе с графикой. Релиз Warmaster v2.0 прошел успешно :) Я не оставил ссылку для этой версии игры, от финальной версии визуально она отличается только фоновыми декорациями. Большой переделке подвергся внутренний функционал, о чем я распишу ниже. Так же в конце статьи найдете ссылку на актуальную версию игры Warmaster v3.0, сможете поиграть и оценить.

        .blog-img
            img(src="img/w2.0.global.jpg")
            .blog-img__article Во второй версии игры для большего размаха и эпичности я решил реализовать глобальную карту

        p.content-title Работа над финальной версией Warmaster v3.0

        p Внешне все работало как надо, но все же был ряд проблем в плане универсальности отдельных модулей, в частности функционала диалогов, что при дальнейшем масштабировании игры могло вызвать существенные затруднения. Да и графика в плане декораций как то разом перестала меня устраивать, слишком все это было просто, и не интересно. Я решил не много отдохнуть и начать готовить релиз версии 3.0 :)

        p Обмозговав текущее положение, я решил, что не хочу опять тратить уйму времени на рисование, чтобы обновить декорации. Гуляя по просторам сети, я наткнулся на красочные илюстрации и ссылки вели прямиком на стоковые сервисы, а почему бы и нет? Почему бы не заплатить 900 руб. и не приобрести вечные права на неограниченное количество иллюстраций, это было, то, что нужно! Персонажи остаются, они и так достаточно яркие, все декорации и сцены меняю на стоковые картинки, купил аккаунт и процесс пошел.

        p Набрал кучу декораций, отредактировал местами как нужно было и расставил по сценам, это было быстро. Далее глубокий рефракторинг кода растянулся почти на месяц, недели три точно. Я полностью переписал модуль диалогов, это считай почти половина проекта. Задача была сделать максимально гибкую систему, чтобы в процесс диалога можно было внедрить совершенно любой функционал. И сделать, чтобы это было возможно максимально просто. Например из диалога сюжет выруливал на сцену боя, далее следовало вернуться к продолжению диалога или сделать выход на дальнейшее развитие сюжета, но уже в другой сцене, или любые другие события, на которые хватит фантазии. Цель достигнута.

        .blog-img
            img(src="img/w3.0.mage.jpg")
            .blog-img__article Стоковые декорации идеально сочетаются с моими персонажами :)

        p Что могу сказать в заключение, все 3 версии игры были колосальным опытом по погружению в JavaScript. На данный момент все задачи по фронтенду, что сейчас выполняю на фрилансе, я делаю на базе опыта работы над этой игрой. Крайне важно постоянно практиковаться, изучили теорию, обязательные применяйте полученные знания на практике. Только так вы будете расти как разработчик. 

        p Спасибо, что дочитали статью до конца, надеюсь, она не слишком вас утомила и поможет взять правильный вектор в развитии на пути разработчика, всем удачи :)

        p Играть в 
            a(href="https://berzeg07.github.io/warmaster/" target="_blank") Warmaster v3.0
        
        .main-link
            a(href="index.html") На главную    
        
        .blog-contact
            p.content-title Связь со мной по вопросам обучения
            ul.contact-list
                li
                    a(href="tg://resolve?domain=AmraSK").contact-list__tel @AmraSK
                li
                    a(href="https://vk.com/aslanberezgov" target="_blank").contact-list__vk vk.com/aslanberezgov
                li
                    a(href="mailto:amra_sk@mail.ru").contact-list__email amra_sk@mail.ru
