extends ../layout/layout.pug
block vars
	- var title = 'Как я учил JavaScript';
block header
	include ../includes/header.pug
block content
	include ../includes/content-blog.pug
block footer
	include ../includes/footer.pug     
              
